:root {
    color-scheme: light dark;
    font-family: system-ui, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

body {
    margin: 8px;
}

h1,
h2 {
    font-weight: normal;
}

pre.language-manifest {
    font-size: 0.95rem;

    border-left:2px solid rgba(128, 128, 128, 0.5);
    padding-left: 12px;

    /* &:before {
        content: "❯ ";
    } */

    code {
        white-space: pre-wrap;
        word-break: break-word;
    }
}