:root {
    color-scheme: light dark;
    font-family: system-ui, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

body {
    margin: 12px;
}

h1,
h2 {
    font-weight: normal;
}

.container-svx {
    display: grid;
    grid-template-columns: auto minmax(0, 800px);
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;

    &:has(>:only-child) {
        max-width: 800px;
    }

    .container-toc {
        max-width: 400px;
        position: sticky;
        top: 0;
        overflow: auto;
        max-height: calc(100vh - var(--scroll-toc-top, 0px));

        nav.toc {

            .title {
                font-variant: all-small-caps;
                font-size: x-large;
            }

            .list {
                list-style: none;
                padding-left: 0;

                a {
                    text-decoration: none;
                    color: inherit;
                    display: block;
                    padding-left: calc(var(--indent) * 3ch);

                    .index {
                        font-weight: bold;
                        font-size: smaller;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }
    }

    .container-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            display: flex;
            align-items: center;

            .content {
                flex: 1;
            }

            .index {
                font-size: smaller
            }

            .act {
                gap: 0.5rem;
                display: inline-flex;
                flex-wrap: wrap;

                .section-link {
                    font-size: 1rem;
                    text-decoration: none;
                    opacity: 0.75;
                    transition: opacity 400ms;

                    &::before {
                        content: "§";
                    }

                    &:hover {
                        opacity: 1;
                    }

                    *:hover>.act & {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .container-svx {
        grid-template-columns: 1fr;
        max-width: 800px;

        .container-toc {
            max-width: initial;
            position: initial;
            max-height: initial;
        }
    }
}