---
title: ✦ GENESIS MANIFEST
---

# Introduction

In the AI era, when AI can eventually perform any work, **human potential becomes the new scarcity**.

Human potential is abundant. What is scarce is the opportunity to realize it.

The purpose of IRLance is to help build that world.

🚧