.container-svx {
    display: grid;
    grid-template-columns: auto minmax(0, 800px);
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;

    &:has(>:only-child) {
        max-width: 800px;
    }

    .container-toc {
        max-width: 400px;
        position: sticky;
        top: 0;
        overflow: auto;
        max-height: calc(100vh - var(--scroll-toc-top, 0px));

        nav.toc {

            .title {
                font-variant: all-small-caps;
                font-size: x-large;
            }

            .list {
                list-style: none;
                padding-left: 0;

                a {
                    text-decoration: none;
                    color: inherit;
                    display: block;
                    /* padding-left: calc(var(--indent) * 3ch); */

                    .index {
                        font-weight: bold;
                        font-size: smaller;

                        &::after {
                            content: " ";
                        }
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }
    }

    .container-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {

            .index {
                font-size: smaller;

                &::after {
                    content: " ";
                }
            }

            .act {

                &::after {
                    content: " ";
                }

                .section-link {
                    font-size: smaller;
                    font-family: inherit;
                    text-decoration: none;
                    color: inherit;

                    &::before {
                        /* content: "§"; */
                        content: "❯…\00a0";
                    }


                    *:hover>.act & {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .container-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 1.25em;
            margin: 1.5em 0 1em;
            font-weight: normal;
        }
    }


    .container-toc a {

        font-family: monospace;

        &::before {
            content: "❯…\00a0";
            font-size: smaller;

        }
    }

}

@media (max-width: 1200px) {
    .container-svx {
        grid-template-columns: 1fr;
        max-width: 800px;

        .container-toc {
            max-width: initial;
            position: initial;
            max-height: initial;
        }
    }
}

.index {
    display: none;
}